/* agar tingginya dapat menyesuaikan isinya */
.select2-multi + .select2-container--default .select2-selection--multiple{
  height: auto !important;
}


/* margin untuk value yang sudah masuk ke container selectnya */
.select2-multi + .select2-container--default .select2-selection--multiple .select2-selection__choice{
      margin-right: 1px;
      margin-bottom: 5px;
}