.thumb-daftar img{

	width: 65px;
	height: auto;

}

.deskripsi p{

	margin-bottom: 0px;

}

.deskripsi .nama-pekerjaan{

	font-weight: bold;

}

.nomargin_bottom_label{

	margin-bottom: 0px !important

}

.reduce_form_control{

	padding-right: 5px !important;

}

.file-gambar{

	position: relative;
    width: 70px;

}


.file-gambar img{

	width: 100%;
	height: auto;

}




.kotak-gambar{

	position: relative;
    width: 100%;

}

.kotak-gambar img{

	width: 100%;
	height: auto;

}

.kotak-gambar .download{

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}