/*PDF*/
html, body{
	height: auto;
	margin: 10px;
}
.box.box-primary.pdf{
    border: none;
}
.box.pdf{
    box-shadow: none;
}
.pdf .form-horizontal .control-label{
    padding-top: 0;
}
.pdf .table-bordered{
	border: 1px solid #000;
}
.pdf .table-bordered > thead > tr > th, 
.pdf .table-bordered > tbody > tr > th, 
.pdf .table-bordered > tfoot > tr > th, 
.pdf .table-bordered > thead > tr > td, 
.pdf .table-bordered > tbody > tr > td, 
.pdf .table-bordered > tfoot > tr > td{
	border: 1px solid #000;
}
.pdf .table-responsive{
	border: none;
}
.pdf .laporan-garis{
	border-bottom: none;
}
.pdf .header-laporan h4{
	margin-right: 10px;
}
.pdf .form-group{
	margin-bottom: 0px;
}
/*End PDF*/