/*Menu Editor*/
.sortable li.mjs-nestedSortable-leaf div {
    background: transparent -moz-linear-gradient(center top , #FFF 0%, #F6F6F6 85%, #BCCCBC 100%) repeat scroll 0% 0% !important;
}

.login-page,
.register-page{
	background-image: url("../images/bg_login.png");
}

.login-logo a,
.register-logo a{
	color: #008d4c;
}
.login-logo a img,
.register-logo a img{
    width: 120px;
    height: auto;
}

.register-box{
    margin: 5% auto;
}

.register-agree{
    margin-bottom: 25px;
}

.text-center{
    text-align: center !important;
}

/*Ajax Loading image*/

.ajax_loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999999;
}

.ajax_loader img {
    position: fixed;
    z-index: 99999999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    pointer-events: none;
}
.border-top{
    border-top: 1pt solid #222;
}

/*Media Print*/
@media print{
    html,body{
        font-family: sans-serif;
    }
    .invoice{
        margin: 0;
        padding: 5mm;
    }
    .box-body{
        padding: 0px;
    }

    .box.box-primary {
        border-top-color: transparent;
        border: none;
    }

    .header-laporan > div{
        margin-bottom: 5px;
    }

    .header-laporan + .box-body {
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-laporan + .box-body .table-responsive{
        border: none;
    }

    .laporan-logo{
        float: left;
        margin-bottom: 10px;
    }

    .laporan-logo img{
        position: relative;
        width: 80px;
    }

    .table-summary{
        margin-top: 1px;
        margin-left: 1px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 9pt;
    }

    .table-summary tr td{
        padding: 2px 3px 2px 0 !important;
    }

    .laporan-identitas{
        float: left;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .laporan-garis{
        border-top: 3pt #111 solid;
        border-bottom: 1pt #111 solid;
        width: auto;
        height: 6px;
        max-width: 100%;
        position: relative;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .table-head{
        margin-top: 1px;
        margin-left: 1px;
        margin-bottom: 5px;
        font-size: 9pt;
        line-height: 1;
    }

    .table-head tr td{
        padding-left: 0px !important;
    }

    .table-detail{
        margin-bottom: 10px !important;
        font-size: 9pt;
    }

    .table-detail tr th{
        border-top: 1pt solid #222 !important;
        border-right: 1pt solid #222 !important;
        border-bottom: 1pt solid #222 !important;
        border-left: 1pt solid #222 !important;
    }

    .table-detail tbody{
        border: 1pt solid #222 !important;
    }

    .table-detail tbody tr td{
        border-top: none !important;
        border-bottom: none !important;
        border-left: 1pt solid #222 !important;
        border-right: 1pt solid #222 !important;
        padding: 2px 5px 2px 5px;
    }

    .table-detail tbody tr:last-child td{
        border-bottom: 1pt solid #222 !important;
    }

    .table-detail tfoot tr:first-child{
        border-top: 1pt solid #222 !important;
    }

    .table-detail tfoot tr td{
        border: none !important;
    }

    .laporan-ttd{
        font-size: 9pt;
    }

    address{
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    address h3{
        font-size: 12pt;
        margin-bottom: 5px;
    }
    address h4{
        font-size: 11pt;
        margin-bottom: 5px;
    }

    .form-horizontal.custom .row div[class^="col-"]:first-child{
        padding-left: 0;
    }

    tfoot{
        display: table-row-group;
    }

    .invoice .box{
        border-top: none;
    }
    .box.box-primary .laporan-identitas{
        padding-left: 0 !important;
    }
    .border-top{
        border-top: 1pt solid #222;
    }
}
/*End Media Print*/
/*Report*/
.invoice{
    margin: 0;
    padding: 5mm;
}
.header-laporan > div{
    margin-bottom: 5px;
}
.header-laporan > div{
    padding-top: 10px;
}

.header-laporan + .box-body {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.header-laporan + .box-body .table-responsive{
    border: none;
}

.laporan-logo{
    float: left;
    margin-bottom: 10px;
}
.laporan-logo img{
    position: relative;
    width: 80px;
}

.table-summary{
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 11px;
}

.table-summary tr td{
    padding: 2px 3px 2px 0 !important;
}

.laporan-identitas{
    float: left;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.laporan-garis{
    border-top: 3px #111 solid;
    border-bottom: 1px #111 solid;
    width: auto;
    height: 6px;
    max-width: 100%;
    position: relative;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.table-head{
    /*outline: 1px #333 solid;*/
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 1;
}
.table-head tr td{
    padding-left: 0px !important;
}

.table-detail{
    margin-bottom: 10px !important;
    font-size: 11px;
}

.table-detail tr th{
    border-top: 1pt solid #222 !important;
    border-right: 1pt solid #222 !important;
    border-bottom: 1pt solid #222 !important;
    border-left: 1pt solid #222 !important;
}

.table-detail tbody{
    border: 1pt solid #222 !important;
}

.table-detail tbody tr td{
    border-top: none !important;
    border-bottom: none;
    border-left: 1pt solid #222 !important;
    border-right: 1pt solid #222 !important;
    padding: 2px 5px 2px 5px;
}

.table-detail tfoot tr:first-child{
    border-top: 1pt solid #222 !important;
}

.table-detail tfoot tr td{
    border: none !important;
}

.laporan-ttd{
    font-size: 11px;
}

.input-daterange .input-group-addon{
    color: #000;
}

.box-body.laporan-body{
    padding-top: 0px !important;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control{
    background-color: #f5f5f5;
}
.form-control:focus {
    border-color: #1d2127;
}
.form-control[disabled]:focus, .form-control[readonly]:focus {
    background: #f5f5f5;
    border-color: #1d2127;
}
.table-striped>tbody>tr.danger:nth-child(odd) td {
    background-color: #f2dede;
}
.box.box-primary .laporan-identitas{
    padding-left: 10px;
}

address{
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 11px;
}

address h3{
    font-size: 14px;
    margin-bottom: 5px;
}
address h4{
    font-size: 12px;
    margin-bottom: 5px;
}
.invoice .box{
    border-top: none;
}
.header-laporan div[class^='col-']{
    padding-top: 0;
}
/*End Report*/

/*select2 style*/
.select2-selection__rendered {
  line-height: 32px !important;
}

.select2-selection {
  height: 34px !important;
}

.select2-selection--multiple .select2-selection__rendered{
    line-height: 18px !important;
}
/*Struk Kecil ukuran 80mm*/
.struk-kecil{
    width: 80mm;
    border: none;
    font-family: sans-serif,'Courier New';
    font-size: 9pt;
    padding: 10mm 4mm;
    border-collapse: collapse;
    line-height: 1;
}
.struk-kecil .no-tran{
    border-top: 1pt dotted #000;
    border-bottom: 1pt dotted #000;
    border-width: 1.5pt;
}
.struk-kecil .header-info{
    text-align: left;
}
.struk-kecil .header-info th:nth-child(2){
    width: 10px;
}
.struk-kecil tr th{
    padding: 0.5mm 0mm;
    font-weight: normal;
}
.struk-kecil tr th img{
    height: 70px;
}
.struk-kecil tbody tr td{
    text-align: left;
}
.struk-kecil thead tr:first-child td{
    padding-top: 3mm;
    border-bottom: 1pt solid #000;
    font-weight: bold;
}
.struk-kecil thead tr:first-child td:last-child{
    text-align: right;
}
.struk-kecil tbody tr:nth-child(2n+2) td:first-child{
    padding-bottom: 4px;
}
.struk-kecil tbody tr:nth-child(2n+2) td:last-child{
    text-align: right;
}
.struk-kecil tfoot tr td{
    text-align: right;
}
.struk-kecil tfoot tr:first-child td:last-child{
    border-top: 2pt solid #000;
    padding-top: 3px;
}
.struk-kecil .footer-note{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
}
.struk-kecil .footer-warning {
    text-align: center;
    font-weight: bold;
    border: 1.5pt solid #000;
    padding: 4px;
}
.struk-kecil .deposit-info{
    text-align: left;
}

@media print{
    .struk-kecil{
        width: 80mm;
        border: none;
        font-family: sans-serif,'Courier New';
        font-size: 9pt;
        padding: 10mm 4mm;
        border-collapse: collapse;
        line-height: 1;
    }
    .struk-kecil .no-tran{
        border-top: 1pt dotted #000;
        border-bottom: 1pt dotted #000;
        border-width: 1.5pt;
    }
    .struk-kecil .header-info{
        text-align: left;
    }
    .struk-kecil .header-info th:nth-child(2){
        width: 10px;
    }
    .struk-kecil tr th{
        padding: 0.5mm 0mm;
        font-weight: normal;
    }
    .struk-kecil tr th img{
        height: 70px;
    }
    .struk-kecil tbody tr td{
        text-align: left;
    }
    .struk-kecil thead tr:first-child td{
        padding-top: 3mm;
        border-bottom: 1pt solid #000;
        font-weight: bold;
    }
    .struk-kecil thead tr:first-child td:last-child{
        text-align: right;
    }
    .struk-kecil tbody tr:nth-child(2n+2) td:first-child{
        padding-bottom: 4px;
    }
    .struk-kecil tbody tr:nth-child(2n+2) td:last-child{
        text-align: right;
    }
    .struk-kecil tfoot tr td{
        text-align: right;
    }
    .struk-kecil tfoot tr:first-child td:last-child{
        border-top: 2pt solid #000;
        padding-top: 3px;
    }
    .struk-kecil .footer-note{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .struk-kecil .footer-warning {
        text-align: center;
        font-weight: bold;
        border: 1.5pt solid #000;
        padding: 4px;
    }
    .struk-kecil .deposit-info{
        text-align: left;
    }
}
/*End Struk Kecil ukuran 80mm*/

/*Struk Kecil Ukuran 58mm*/
.struk-kecil-58{
    width: 55mm;
    border: none;
    font-family: sans-serif,'Courier New';
    font-size: 8pt;
    padding: 10mm 4mm;
    border-collapse: collapse;
    line-height: 1;
    font-weight: normal;
}
.struk-kecil-58 .barcode{
    text-align: center;
    padding-bottom: 2mm;
}
.struk-kecil-58 .barcode > *{
    display: block;
}
.struk-kecil-58 .barcode img{
    height: auto;
    max-width: 47mm;
    margin: 0 auto 3px auto;
}
.struk-kecil-58 .barcode span{
    font-weight: normal;
}
.struk-kecil-58 tr th{
    padding: 0 0 1mm 0mm;
    font-weight: normal;
    text-align: left;
}
.struk-kecil-58 tr th:last-child{
    font-weight: 600;
}
.struk-kecil-58 tr:last-child th{
    border-bottom: 2px solid #989898;
}
.struk-kecil-58 tbody tr td:last-child{
    width: 8mm;
}
.struk-kecil-58 tbody tr td{
    text-align: left;
    padding: 0 0 1mm 0;
}
.struk-kecil-58 tbody tr:first-child td{
    padding-top: 3mm;
}
.struk-kecil-58 tbody tr:nth-child(2n) td{
    padding: 0 0 2mm 0;
}
.struk-kecil-58 tbody tr:nth-child(2n) td:last-child{
    text-align: right;
}
@media print{
    .struk-kecil-58{
        width: 55mm;
        border: none;
        font-family: sans-serif,'Courier New';
        font-size: 8pt;
        padding: 10mm 4mm;
        border-collapse: collapse;
        line-height: 1;
        font-weight: normal;
    }
    .struk-kecil-58 .barcode{
        text-align: center;
        padding-bottom: 2mm;
    }
    .struk-kecil-58 .barcode > *{
        display: block;
    }
    .struk-kecil-58 .barcode img{
        height: auto;
        max-width: 47mm;
        margin: 0 auto 3px auto;
    }
    .struk-kecil-58 .barcode span{
        font-weight: normal;
    }
    .struk-kecil-58 tr th{
        padding: 0 0 1mm 0mm;
        font-weight: normal;
        text-align: left;
    }
    .struk-kecil-58 tr th:last-child{
        font-weight: 600;
    }
    .struk-kecil-58 tr:last-child th{
        border-bottom: 2px solid #989898;
    }
    .struk-kecil-58 tbody tr td:last-child{
        width: 8mm;
    }
    .struk-kecil-58 tbody tr td{
        text-align: left;
        padding: 0 0 1mm 0;
    }
    .struk-kecil-58 tbody tr:first-child td{
        padding-top: 3mm;
    }
    .struk-kecil-58 tbody tr:nth-child(2n) td{
        padding: 0 0 2mm 0;
    }
    .struk-kecil-58 tbody tr:nth-child(2n) td:last-child{
        text-align: right;
    }
}
/*End Struk Kecil Ukuran 58mm*/
#loader_percent{
    position: relative;
    top: 51%;
    left: 49%;
    font-size: 1.5em;
}

/*Laporan Kasir*/
.lap-kasir{
    width: 80mm;
    border: none;
    font-family: sans-serif,'Courier New';
    font-size: 9pt;
    padding: 10mm 4mm;
    border-collapse: collapse;
    line-height: 1;
}
.lap-kasir .title{
    font-size: 11pt;
}
.lap-kasir tbody .title{
    padding-top: 1mm;
}
.lap-kasir tr td{
    padding: 0.5mm 0;
}
.lap-kasir .border-solid td{
    border-bottom: 1.5pt solid #000;
    padding-bottom: 1mm;
}
.lap-kasir .border-solid + tr td{
    padding-top: 1mm;
}
.lap-kasir .border-dot td{
    border-bottom: 1pt dashed #000;
    padding-bottom: 1mm;
}
.lap-kasir .border-dot + tr td{
    padding-top: 1.5mm;
}
.lap-kasir tbody tr td:nth-child(2){
    text-align: right;
}
.lap-kasir tbody .total{
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
}
.lap-kasir tfoot tr.ttd td{
    padding-top: 15mm;
}
.lap-kasir tfoot tr.ttd td:first-child{
    text-align: left;
    padding-left: 7mm;
}
.lap-kasir tfoot tr.ttd td:last-child{
    text-align: right;
    padding-right: 7mm;
}
@media print{
    .lap-kasir{
        width: 80mm;
        border: none;
        font-family: sans-serif,'Courier New';
        font-size: 9pt;
        padding: 10mm 4mm;
        border-collapse: collapse;
        line-height: 1;
    }
    .lap-kasir .title{
        font-size: 11pt;
    }
    .lap-kasir tbody .title{
        padding-top: 1mm;
    }
    .lap-kasir tr td{
        padding: 0.5mm 0;
    }
    .lap-kasir .border-solid td{
        border-bottom: 1.5pt solid #000;
        padding-bottom: 1mm;
    }
    .lap-kasir .border-solid + tr td{
        padding-top: 1mm;
    }
    .lap-kasir .border-dot td{
        border-bottom: 1pt dashed #000;
        padding-bottom: 1mm;
    }
    .lap-kasir .border-dot + tr td{
        padding-top: 1.5mm;
    }
    .lap-kasir tbody tr td:nth-child(2){
        text-align: right;
    }
    .lap-kasir tbody .total{
        text-align: right;
        font-weight: bold;
        font-size: 10pt;
    }
    .lap-kasir tfoot tr.ttd td{
        padding-top: 15mm;
    }
    .lap-kasir tfoot tr.ttd td:first-child{
        text-align: left;
        padding-left: 7mm;
    }
    .lap-kasir tfoot tr.ttd td:last-child{
        text-align: right;
        padding-right: 7mm;
    }
}
/*End Laporan Kasir*/
/*Nota Besar*/
.a4{
    width: 210mm;
    height: auto;
    position: relative;
    font-size: 9pt;
    font-family: sans-serif,'Courier New';
}
.a4 table{
    border-collapse: collapse;
}
.a4 > div{
    width: 100%;
}
.a4 .header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1.5pt solid #000;
}
.a4 .header .logo > img{
    position: relative;
    width: 70px;
    height: auto;
}
.a4 .header .address{
    height: 80px;
    max-width: calc(100% - 80px);
    margin-left: 3mm;
}
.a4 .header h4{
    margin-top: 0;
    margin-bottom: 3mm;
}
.a4 .info-konsumen tr td:first-child{
    padding-right: 3mm;
}
.a4 .body .summary{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 1.5mm;
    padding-bottom: 3mm;
}
.a4 .body .summary > div{
    width: 50%;
}
.a4 .body .main{
    border: 1.5pt solid #000;
    padding: 1mm;
}
.a4 .body .main table{
    width: 100%;
}
.a4 .body .main table tr th{
    border-bottom: 1.5pt solid #000;
    text-align: left;
}
.a4 .body .main table tr td{
    border-bottom: 1pt solid #000;
    padding-bottom: 0.5mm;
    padding-top: 0.5mm;
}
.a4 .body .main table tr:last-child td{
    border-bottom: none;   
}
.a4 .body .gtotal{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    padding-top: 2mm;
}
.a4 .body .gtotal > div:last-child{
    width: 27mm;
    text-align: right;
    padding-right: calc(1mm + 1pt);
}
.a4 .footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin-top: 10mm;
}
.a4 .footer > div{
    width: 50%;
    text-align: center;
}
@media print{
    .a4{
        width: 210mm;
        height: auto;
        position: relative;
        font-size: 9pt;
        font-family: sans-serif,'Courier New';
    }
    .a4 table{
        border-collapse: collapse;
    }
    .a4 > div{
        width: 100%;
    }
    .a4 .header{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        border-bottom: 1.5pt solid #000;
    }
    .a4 .header .logo > img{
        position: relative;
        width: 70px;
        height: auto;
    }
    .a4 .header .address{
        height: 80px;
        max-width: calc(100% - 80px);
        margin-left: 3mm;
    }
    .a4 .header h4{
        margin-top: 0;
        margin-bottom: 3mm;
    }
    .a4 .info-konsumen tr td:first-child{
        padding-right: 3mm;
    }
    .a4 .body .summary{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        padding-top: 1.5mm;
        padding-bottom: 3mm;
    }
    .a4 .body .summary > div{
        width: 50%;
    }
    .a4 .body .main{
        border: 1.5pt solid #000;
        padding: 1mm;
    }
    .a4 .body .main table{
        width: 100%;
    }
    .a4 .body .main table tr th{
        border-bottom: 1.5pt solid #000;
        text-align: left;
    }
    .a4 .body .main table tr td{
        border-bottom: 1pt solid #000;
        padding-bottom: 0.5mm;
        padding-top: 0.5mm;
    }
    .a4 .body .main table tr:last-child td{
        border-bottom: none;   
    }
    .a4 .body .gtotal{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;
        font-weight: bold;
        padding-top: 2mm;
    }
    .a4 .body .gtotal > div:last-child{
        width: 27mm;
        text-align: right;
        padding-right: calc(1mm + 1pt);
    }
    .a4 .footer{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        margin-top: 10mm;
    }
    .a4 .footer > div{
        width: 50%;
        text-align: center;
    }
}
/*End Nota Besar*/
/*Select2*/
.has-error .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
    border: 1px solid #dd4b39;
}
/*End Select2*/