.thumb-daftar img{

	width: 50px;
	height: auto;

}

.deskripsi p{

	margin-bottom: 0px;

}

.deskripsi .nama-pekerjaan{

	font-weight: bold;

}

.tabel{

	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;

}

.tabel tr td{

	padding: 8px;
	vertical-align: top;

}

.garis-batas{

	border-bottom: 1px solid #f4f4f4; 

}