 hr {
        margin: 0px;
        border-width: 3px;
        margin-top: 10px; 
        margin-bottom: 10px; 
        border-top: 3px double #8c8b8b;
    }
table{
    font-size: 12px
}
.inputfile {
    z-index: -1;
}
.form-group{
    padding-bottom: 0px;
    margin-bottom: 5px; 
}
.select2-container .select2-selection {
    font-size: 12px;
    max-height: 30px;
    padding-top: 3px;

    line-height: 1.33333;
}
.select2-drop li {
    white-space: pre-line;
}

input[type="radio"] {
    width: 19px;
    height: 25px;
    margin-top: 0;
}

.header-small {
    /*border-style:outset; */
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    border-top: 3px solid #228B22;
    min-height: 130px; 
    padding-right: 10px;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
}

.header-small .radio {
    display: flex;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 5px;
}

.header-utama {
    padding-right: 0px; 
    padding-left: 10px;
}

.header-utama .header-content {
    /*border-style: ridge; */
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    border-top: 3px solid #228B22;
    padding-left: 10px; 
    min-height: 130px;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
}

.header-utama .add-lampiran {
    border-radius: 5px;
    float: right;
    height: 120px;
    width: 120px;
    background: lightgrey;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid grey 1px;
    padding: 0;

}

.header-utama .add-lampiran :not(img) {
    position: absolute;
    z-index: 1;
    color: #fff;
    opacity: 0;
    transition: .3s;
}

.header-utama .add-lampiran img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.header-utama .add-lampiran:hover{
    cursor: pointer;
}

.header-utama .add-lampiran:hover img{
    filter: blur(2px) brightness(60%)
}

.header-utama .add-lampiran:hover :not(img){
    opacity: 1;
}

.header-body h4{
    margin-top: 0;
}

.body-order {
    /*border-style: ridge; */
    border-top: 3px solid #228B22;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    background: #FFFFFF;
    margin-top: 10px; 
    padding-top: 10px;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
}